* {
	font-family: 'Open Sans', sans-serif;
}
nav { 
	padding:  0.5rem;
	margin-bottom: 2rem;
	background-color: white;
	list-style-type: none;
	position: sticky;
	top: 0;
}
nav .nav, nav .nav-logo {
	margin:  1rem;
	display: inline;
}

.nav-logo{
	float: left;
}

.img-float{
	float: inherit;
}
.right-nav {
	text-align: right;
	padding: 5px;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

.container{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 20rem;

}

.front-bg {
	min-height: 20rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100vw;
	background-color: black 100vw;
	background-attachment: fixed;
	color: white;
	text-align: right;
}


.title {
	font-family: 'Zilla Slab', serif;
	padding-right: 100px;
	padding-left: 50vw;
	padding-bottom: 40px;
}

.subtitle{
	font-size: 1rem;
	padding-right: 100px;
	padding-left: 50vw;
	padding-bottom: 50px;
}

.apply-button {
	position: absolute;
	z-index: 5;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	right: 100px;
	top: 200;
}

.title-2 {
	font-family: 'Zilla Slab', serif;
	text-align: center;
	padding: 25px;
}

.pre-footer {
	background-color: #f7fbfb;
	display: inline-block;
	text-align: center;
	min-width: 100%;
	padding: 10px;
	position: relative;
}

.book-button {
	background-color: #336589;
	color: white;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

footer {
	text-align: center;
}

.intro-description {
	text-align: center;
}

.prefooter-description {
	text-align: center;
}
